[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "~=2.6.3"
SQLAlchemy = "~=2.0.41"
pydantic-settings = "~=2.11.0"

[dev-packages]
flake8 = "~=7.3.0"
pytest = "~=9.0.0"
